/**************
Variables
**************/
$colour-primary: #9356DC;
$colour-primary-light:#f5edff;
$colour-secondary: #FF79DA;
$colour-tertiary :#99E2D0;
$colour-tertiary-dark :#308b75;
$colour-background :#ddd;


$white: #fff;
$greylight: #F2F2F2;
$greylight02:#f6f6f6;
$greylight03:#eaeaea;
$grey: #777;
$greym:#656565;
$greydark: #333;
$black: #000;


/**/
$gradient:linear-gradient(#FF79DA,#9356DC);
$gradient-reverse:linear-gradient(#9356DC,#FF79DA);
$gradient-vertfushia:linear-gradient(#FF79DA,#99E2D0);
$gradient-vertviolet:linear-gradient(#9356DC,#99E2D0);
$gradient-all:linear-gradient(225deg, #9356DC, #FF79DA,  #99E2D0) 0% 0% / 300% 300%;

/**/
$padding-dimensions: 1rem 2rem 3rem 4rem;
$center-margin: 0px auto;

/**/
$shadow:6px 6px 12px #c9c9c9, -6px -6px 12px #fff;
$shadow02:6px 6px 12px #dad8d8, -6px -6px 12px #F2F2F2;
$shadow03:3px 3px 6px #dad8d8, -3px -3px 6px #c4bdbd;

$shadowbox: 0 3px 3px rgba(0, 0, 0, 0.1);
/* font */
// $font-site(font_name,font_style) :font-family: 'Shrikhand', cursive;
// $font-title :font-family : 'Shrikhand', cursive;
// $font-size: 7rem 5rem 4rem 2rem;
$font-size: 14px 16px 18px 22px;
$font-logo: 'Shrikhand', cursive;
$font-site: 'Roboto Mono', monospace;
$font-web : 'Arial','Verdana',sans-serif;









