/**************
Anim
**************/
// animation: shakeX 0.8s ease-in-out 150ms;
// animation: smooth 0.8s ease-in-out 150ms;
// animation: slideX 0.8s ease-in-out 150ms;
// animation: turnOver 0.8s ease-in-out 150ms;

@keyframes heart-anim {
    40% {
        transform-origin: center;
        transform: scale(0);
      }
    60% {
      opacity:0.5;
      transform: scale(0.5);
    }
    80% {
      opacity: 1;
    }
    100% {
      transform: scale(1);
      opacity:0.9;
    }
  }


@keyframes turnOver {
    from {
        opacity:0;
        transform:rotate(-90deg);
    }
    to {
        opacity:1;
        transform:rotate(-360deg);
    }
}

@keyframes turnOver02 {
    from {
        opacity:1;
        transform:rotate(-90deg);
        transform:scale(2);
    }
    to {
        opacity:0;
        transform:rotate(-360deg);
    }
}


@keyframes openSlide{
    from {
        opacity:0.2;
        transform: translateY(-30px);
    }
    to {
        opacity:1;
        transform: translateY(0px);
    }
}


@keyframes slideX {
    from {
        opacity:0.2;
        transform: translateX(100px);
    }
    to {
        opacity:1;
        transform: translateX(0px);
    }
}

@keyframes slideY {
    from {
        opacity:0.2;
        transform: translateY(0px);
    }
    to {
        opacity:1;
        transform: translateY(30px);
    }
}


@keyframes fade { 
    0%{
        opacity:1;
    }
    50%{
        opacity:0.5;
    }
    100%{
        opacity:0;
        z-index : -10;
    }
 }

@keyframes shakeX {
    0% {
        color:#fff;
        transform: translateX(0px);
    }
    20% {
        transform: translateX(-5px);
        
    }
    40% {
        opacity:0.5;
        transform: translateX(5px);
    }
    60% {
        color:#ccc;
        transform: translateX(-5px);
    }
    80% {
        transform: translateX(5px);
    }
    100%{
        opacity:1;
        transform: translateX(0px);
    }
}

 
 @keyframes spinner { 
        0%{
            opacity:0.4;
            transform-origin: center;
            transform: translateY(20px);
        }
        20%{
            opacity:0.8;
            transform:rotate(0deg);  
        }

        40%{
            opacity:0.8;
            transform:rotate(90deg);    
        }
        70%{
            opacity:0.4;
            transform:rotate(180deg);
            
            
        }
        100%{
            opacity:0;
            transform:rotate(240deg);
        }
        }  
     
  