/**************
Home
**************/
.loading{
  position:fixed;
  background: $white;
  color:#333;/*#333*/
  height:100%;
  width: 100%;
  @include flex-center;
  z-index: 100;
  animation: fade 1.8s ease-in 10ms;
  animation-fill-mode: forwards;
  animation-delay: 1.2s;
    .title{
      opacity:0.8;
      @include for-desktop{
          font-size:130px;
        }
        @include for-tablet{
          font-size:100px;
        }
        @include for-phone{
          font-size:50px;
        }
      animation: fade 0.6s linear 90ms;
      
      animation-fill-mode: forwards;
      animation-delay: 1s;
      text-shadow:$shadow03;
      
  }
  .ooo{
    animation: spinner 0.6s ease-in-out 30ms;
    animation-fill-mode: forwards;
    animation-delay: 1s;
  }
}

main {
  overflow:hidden;
  margin: $center-margin;
  @include for-phone{
    width:auto; 
  }
  @include for-tablet{
    max-width: 770px;
  }
  @include for-desktop{
    max-width: 1030px;
  }
}

section header, article header{
  padding:4px;
  h4{
    margin-top:40px;
  }
} 
section{
   padding-bottom:20px;
  }

.main__home {
  background:$greylight;
  @include flex-center;
  flex-wrap:wrap;
  
}
